<nav class="black social">
  <div class="nav-wrapper">
    <ul class="left">
      <li *ngFor="let socialNetwork of socialNetworks">
        <a [href]="socialNetwork.url" target="_blank">
          <i class="fab {{socialNetwork.class}}" ></i>
        </a>
      </li>
    </ul>
    <!-- show in Desktop -->
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="waves-effect waves-light btn btn-small grey darken-1"
          >Registro</a
        >
      </li>
      <li>
        <a class="waves-effect waves-light btn btn-small light-blue darken-4"
          >Iniciar sesion</a
        >
      </li>
    </ul>

    <!-- show in Mobile -->
    <ul class="right hide-on-large-only">
      <li>
        <a
          class="waves-effect waves-light btn btn-small btn-floating grey darken-1"
        >
          <i class="material-icons">person_add</i>
        </a>
      </li>
      <li>
        <a
          class="waves-effect waves-light btn btn-small btn-floating light-blue darken-4"
        >
          <i class="material-icons">person</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
