<div class="page-footer red darken-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 l4">
        <span><strong>Clientes</strong></span>
        <ul>
          <li><a href="#" class="grey-text text-lighten-3">En cartelera</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Proximamente</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Preventa</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Escribenos</a></li>
        </ul>
      </div>
      <div class="col s12 m4 l4">
        <span><strong>Visitante</strong></span>
        <ul>
          <li><a href="#" class="grey-text text-lighten-3">Nosotros</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Salas y Formatos</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Terminos y Condiciones</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Unete al Equipo</a></li>
        </ul>
      </div>
      <div class="col s12 m4 l4">
        <span><strong>Clientes</strong></span>
        <ul>
          <li><a href="#" class="grey-text text-lighten-3">Linea Directa</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Encuesta</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Publicidad</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Eventos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      Copyright © 2021 - Leonard Gonzalez - Todos los derechos reservados
    </div>
  </div>
</div>
