<ul id="cities" class="dropdown-content red darken-4">
  <li><a class="white-text" href="#!">one</a></li>
  <li><a class="white-text" href="#!">two</a></li>
  <li><a class="white-text" href="#!">three</a></li>
  <li class="divider"></li>
</ul>

<ul id="cities-mobile" class="dropdown-content red darken-4">
  <li><a class="white-text" href="#!">one</a></li>
  <li><a class="white-text" href="#!">two</a></li>
  <li><a class="white-text" href="#!">three</a></li>
  <li class="divider"></li>
</ul>

<nav class="red darken-4">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo pt-2">
      <img
        class="responsive-img"
        width="230px"
        src="./assets/images/logo.png"
      />
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Inicio</a></li>
      <li><a href="sass.html">Cartelera</a></li>
      <li><a href="badges.html">Promociones</a></li>
      <li>
        <a class="dropdown-trigger" href="#!" data-target="cities">
          Ciudad
          <i class="material-icons right">arrow_drop_down</i></a
        >
      </li>
    </ul>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"
      ><i class="material-icons">menu</i></a
    >
  </div>
</nav>

<ul class="sidenav red darken-4" id="mobile-demo">
  <li><a class="white-text" href="sass.html">Inicio</a></li>
  <li><a class="white-text" href="sass.html">Cartelera</a></li>
  <li><a class="white-text" href="badges.html">Promociones</a></li>
  <li>
    <a class="dropdown-trigger white-text" href="#!" data-target="cities-mobile">
      Ciudad
      <i class="material-icons right">arrow_drop_down</i></a
    >
  </li>
</ul>
