<div class="row m-0 white">
  <div class="col s12">
    <div class="row">
      <h4 class="center-align">Proximos Estrenos</h4>
    </div>
    <div class="row">
      <div
        class="col s12 m2 l2 card next-premieres"
        *ngFor="let movie of movies | slice: 0:6"
      >
        <div class="card-image waves-effect waves-block waves-light">
          <img
            src="{{ movie.picture }}"
            alt="{{ movie.name }}"
            class="activator"
          />
        </div>
        <div class="card-content center-align">
          <a class="pl-2" href="#"><i class="fab fa-youtube"></i></a>
          <a class="pl-2" href="#"><i class="fas fa-language"></i></a>
          <a class="pl-2" href="#"><i class="fas fa-share-alt"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            {{ movie.name }}
            <i class="material-icons">close</i>
          </span>
          <p>
            {{ movie.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
