<div class="row white">
  <div class="carousel">
    <div class="carousel-item"><img src="./assets/images/promociones/1.png" /></div>
    <div class="carousel-item"><img src="./assets/images/promociones/2.jpeg" /></div>
    <div class="carousel-item"><img src="./assets/images/promociones/3.jpg" /></div>
    <div class="carousel-item"><img src="./assets/images/promociones/4.png" /></div>
    <div class="carousel-item"><img src="./assets/images/promociones/5.jpg" /></div>
    <div class="carousel-item"><img src="./assets/images/promociones/6.jpg" /></div>
    <div class="carousel-item"><img src="./assets/images/promociones/7.jpg" /></div>
    <div class="carousel-item"><img src="./assets/images/promociones/8.jpg" /></div>
  </div>
</div>
