<div class="row blue-grey lighten-4 filter mb-0">

  <h6 class="left-align">Compra tus entradas</h6>
  <div class="input-field col s12 m3 l3">
    <select class="browser-default" [(ngModel)]="formFilter.date">
      <option value="" disabled selected>Fecha</option>
      <option value="{{date}}" *ngFor="let date of dates">{{date | date:'longDate'}}</option>
    </select>
  </div>

  <div class="input-field col s12 m3 l3">
    <select class="browser-default" [(ngModel)]="formFilter.movie">
      <option value="" disabled selected>Pelicula</option>
      <option value="{{movie.name}}" *ngFor="let movie of movies">{{movie.name}}</option>
    </select>
  </div>

  <div class="input-field col s12 m3 l3">
    <select class="browser-default" [(ngModel)]="formFilter.format">
      <option value="" disabled selected>Formato</option>
      <option value="{{format}}" *ngFor="let format of formats">{{format}}</option>
    </select>
  </div>

  <div class="input-field col s12 m3 l3">
    <select class="browser-default" [(ngModel)]="formFilter.hour">
      <option value="" disabled selected>Hora</option>
      <option value="{{hour}}" *ngFor="let hour of hours">{{hour}}</option>
    </select>
  </div>


</div>
