<app-navbar-social></app-navbar-social>
<app-navbar-menu></app-navbar-menu>
<app-movies-filter></app-movies-filter>
<app-slides></app-slides>
<app-weekly-billboards></app-weekly-billboards>
<app-premieres></app-premieres>
<app-carrousel></app-carrousel>
<app-footer></app-footer>
