
$spacer: 1rem;
// # spacing
// ## paddings
// ### padding
.p-0 {padding: ($spacer * 0) !important;}
.p-1 {padding: ($spacer * 0.25) !important;}
.p-2 {padding: ($spacer * 0.5) !important;}
.p-3 {padding: $spacer !important;}
.p-4 {padding: ($spacer * 1.5) !important;}
.p-5 {padding: ($spacer * 3) !important;}
// ### padding-bottom
.pb-0 {padding-bottom: ($spacer * 0) !important;}
.pb-1 {padding-bottom: ($spacer * 0.25) !important;}
.pb-2 {padding-bottom: ($spacer * 0.5) !important;}
.pb-3 {padding-bottom: $spacer !important;}
.pb-4 {padding-bottom: ($spacer * 1.5) !important;}
.pb-5 {padding-bottom: ($spacer * 3) !important;}
// ### padding-top
.pt-0 {padding-top: ($spacer * 0) !important;}
.pt-1 {padding-top: ($spacer * 0.25) !important;}
.pt-2 {padding-top: ($spacer * 0.5) !important;}
.pt-3 {padding-top: $spacer !important;}
.pt-4 {padding-top: ($spacer * 1.5) !important;}
.pt-5 {padding-top: ($spacer * 3) !important;}
// ### padding-left
.pl-0 {padding-left: ($spacer * 0) !important;}
.pl-1 {padding-left: ($spacer * 0.25) !important;}
.pl-2 {padding-left: ($spacer * 0.5) !important;}
.pl-3 {padding-left: $spacer !important;}
.pl-4 {padding-left: ($spacer * 1.5) !important;}
.pl-5 {padding-left: ($spacer * 3) !important;}
// ### padding-right
.pr-0 {padding-right: ($spacer * 0) !important;}
.pr-1 {padding-right: ($spacer * 0.25) !important;}
.pr-2 {padding-right: ($spacer * 0.5) !important;}
.pr-3 {padding-right: $spacer !important;}
.pr-4 {padding-right: ($spacer * 1.5) !important;}
.pr-5 {padding-right: ($spacer * 3) !important;}
// ## padding end
// ## margins
// ### margin
.m-0 {margin: ($spacer * 0) !important;}
.m-1 {margin: ($spacer * 0.25) !important;}
.m-2 {margin: ($spacer * 0.5) !important;}
.m-3 {margin: $spacer !important;}
.m-4 {margin: ($spacer * 1.5) !important;}
.m-5 {margin: ($spacer * 3) !important;}
// ### margin-bottom
.mb-0 {margin-bottom: ($spacer * 0) !important;}
.mb-1 {margin-bottom: ($spacer * 0.25) !important;}
.mb-2 {margin-bottom: ($spacer * 0.5) !important;}
.mb-3 {margin-bottom: $spacer !important;}
.mb-4 {margin-bottom: ($spacer * 1.5) !important;}
.mb-5 {margin-bottom: ($spacer * 3) !important;}
// ### margin-top
.mt-0 {margin-top: ($spacer * 0) !important;}
.mt-1 {margin-top: ($spacer * 0.25) !important;}
.mt-2 {margin-top: ($spacer * 0.5) !important;}
.mt-3 {margin-top: $spacer !important;}
.mt-4 {margin-top: ($spacer * 1.5) !important;}
.mt-5 {margin-top: ($spacer * 3) !important;}
// ### margin-left
.ml-0 {margin-left: ($spacer * 0) !important;}
.ml-1 {margin-left: ($spacer * 0.25) !important;}
.ml-2 {margin-left: ($spacer * 0.5) !important;}
.ml-3 {margin-left: $spacer !important;}
.ml-4 {margin-left: ($spacer * 1.5) !important;}
.ml-5 {margin-left: ($spacer * 3) !important;}
// ### margin-right
.mr-0 {margin-right: ($spacer * 0) !important;}
.mr-1 {margin-right: ($spacer * 0.25) !important;}
.mr-2 {margin-right: ($spacer * 0.5) !important;}
.mr-3 {margin-right: $spacer !important;}
.mr-4 {margin-right: ($spacer * 1.5) !important;}
.mr-5 {margin-right: ($spacer * 3) !important;}
// ## margin end
// # spacing end
