@import "./spacing";

body.container {
  width: 85% !important;
}

.social {
  height: 40px;
  line-height: 37px;
  i {
    line-height: 37px !important;
  }
}

.filter{
  padding: 5px 55px
}

// .brand-logo{
//   padding: 10px!important;
// }

.card-content {
  a {
    font-size: 18px;
  }
  .fa-heart {
    color: palevioletred;
  }

  .fa-youtube {
    color: red;
  }

  .fa-bookmark {
    color: orange;
  }

  .fa-share-alt {
    color: green;
  }

}

.carousel {
  perspective: 900px!important;
  height: 280px;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}
