<div class="slider white">
  <ul class="slides">
    <li>
      <img src="./assets/images/banners/pacific-rim.jpg"/>
    </li>
    <li>
      <img src="./assets/images/banners/Justice_League.jpg"/>
    </li>
    <li>
      <img src="./assets/images/banners/rampage.jpg"/>
    </li>
    <li>
      <img src="./assets/images/banners/SpiderMan.jpg"/>
    </li>
  </ul>
</div>


